* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  max-width: 550px;
  max-height: 450px;
  width: 90%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placar {
  width: 95%;
  height: 60%;
  background-color: darkcyan;
}

.numeros {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  font-size: 70px;
  /* letter-spacing: 10px; */
}

.numeros h1 {
  margin: 50px;
}

.numeros h2:hover {
  color: whitesmoke;
}

.times{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-left: none;
  border-right: none;
}

.times h1 {
  margin-top: -30px;
  margin: 50px;
}

.pontos{
  height: 35%;
  width: 95%;
  background-color: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border: 1px solid darkcyan;
  margin: 20px;
  height: 60%;
  width: 50%;
  font-size: 70px;
  display: flex;
  color: darkcyan;
  justify-content: center;
  /* align-items: center; */
  border-radius: 6px;  
}

.button:hover {
  color: black;
  background-color: darkcyan;
}

